/* Sets the custom primary color for the header and other elements */
:root {
  --md-primary-fg-color: #833ecf;       /* Backgroundcolor of the header, indicator for active tab, etc. */
  --md-primary-fg-color--light: #fff;   /* Textcolor on the primary background */
  --md-primary-bg-color: #fff;          /* Backgroundcolor for non-primary elements, e.g. sidebar */
  --md-accent-fg-color: #833ecf;        /* Accentcolor for links, hover-effect */
}

/* Hides the page name ("BrainSimIII Documentation") in the header */
.md-header__topic {
  display: none;
}

/* Scrollbar-color */
/* For WebKit browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar-thumb {
  background-color: var(--md-primary-fg-color);     /* The scrollbar itself */
  border-radius: 4px;                               /* Optional: rounded corners */
}

::-webkit-scrollbar-track {
  background-color: rgba(131, 62, 207, 0.2); /* Hintergrund des Scrollbars, etwas heller */
}

/* Für Firefox */
html {
  scrollbar-color: var(--md-primary-fg-color) rgba(131, 62, 207, 0.2);
  scrollbar-width: thin;
}
